doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/x-icon" href=require("./images/favicone.svg"))
    link(rel="preconnect" href="https://fonts.googleapis.com") 
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link( href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap" rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js") 
    title RedPlants
  body 
    header.header
      img.header__img(src=require("./images/logo.WebP") alt='header-img')

      div.header__nav
        a.header__link(href="") Home 
        a.header__link(href="") Catalogue
        a.header__link(href="") Contact

      a.header__cart(href="") Cart 
  
      button.openbtn(data-popup="form-order")
        img(src=require("./images/iconmonstr-menu-lined-32.png"), alt="open")

      div.popup(data-popup="form-order")
        div.window
          button.close 
            img.close__img(src=require("./images/iconmonstr-x-mark-circle-lined-32.png"), alt="close")

          a.window__link(href="") Home 
          a.window__link(href="") Catalogue
          a.window__link(href="") Contact

          a.window__cart(href="") Cart       

    main 
      section.shopnow 
        div.shopnow__content
          h1.shopnow__title Find perfect plants <br> for your home
          p.shopnow__subtitle Beautiful plants that encourage <br> you to get creative.

          button.shopnow__btn SHOP NOW

        div.shopnow__img
          img.img(src=require("./images/header.WebP") alt='shopnow-photo')
          

      section.categories 

        h2.categories__title Categories

        div.categories__container
          a.card(href="") 
            img.card__img(src=require("./images/catalogue1.WebP"), alt="Jungle Plants", )
            p.card__name Jungle Plants

          a.card(href="")  
            img.card__img(src=require("./images/catalogue2.WebP"), alt="Outdoor Plants", )
            p.card__name Outdoor Plants

          a.card(href="") 
            img.card__img(src=require("./images/catalogue3.WebP"), alt="Bedroom Plants", )
            p.card__name Bedroom Plants

          a.card(href="") 
            img.card__img(src=require("./images/catalogue4.WebP"), alt="Indoor Plants", )
            p.card__name Indoor Plants

      section.philosophy
        h2.philosophy__title Love and work are to people what <br> water and sunshine are to plants

      section.featured 
        div.card.featured__card.featured__content
          h3.featured__title Featured
          p.featured__subtitle Our plants are 100% organic, we don't use pesticides or harmful chemicals.<br> <br> But please don't eat them


        a.card.featured__card(href="") 
          img.card__img(src=require("./images/item1.WebP") alt='item1')
          p.card__subtitle Plant 1
          p.card__title 150€

        a.card.featured__card(href="") 
          img.card__img(src=require("./images/item2.WebP") alt='item2')
          p.card__subtitle Plant 2
          p.card__title 70€

        a.card.featured__card(href="") 
          img.card__img(src=require("./images/item3.WebP") alt='item3')
          p.card__subtitle Plant 3
          p.card__title 50€
      
      section.blog 
        a.blog__card(href="")
          img.blog__img(src=require("./images/blog1.WebP") alt='blog1')
          div.blog__info
            p Writen by 
            p.blog__writer Melissa Bail
          p.blog__id Edition 291
          h4.blog__title How to water your freaking plants so they don't die after one week

        a.blog__card(href="") 
          img.blog__img(src=require("./images/blog2.WebP") alt='blog3')
          div.blog__info
            p Writen by 
            p.blog__writer Jesse Rowe
          p.blog__id Edition 292
          h4.blog__title How to water your freaking plants so they don't die after one week

      section.news 
        h3.news__title Subscribe on our news  
        form.news__form(action="", method="post") 
          input.news__input(type="text" id="gmail" placeholder="Enter your email here")
          button.news__btn(type="submit" onclick="sendJSON()" ) Subscribe
        p.result 

    footer.footer 
      img.footer__img(src=require("./images/logo.WebP") alt='logo')

      div.footer__content
        div.footer__content-colomn
          p.footer__titles Connect
          a.footer__link(href="https://www.instagram.com") Instagram
          a.footer__link(href="https://www.facebook.com") Facebook
          a.footer__link(href="https://www.pinterest.com") Pinterest
          a.footer__link(href="https://www.youtube.com") YouTube
      
        div.footer__content-colomn
          p.footer__titles Resources
          a.footer__link(href="") Return Policy
          a.footer__link(href="") Track An Order
          a.footer__link(href="") FAQs
          a.footer__link(href="") Privacy Policy
        
        div.footer__content-colomn
          p.footer__titles About
          a.footer__link(href="") Our Story
          a.footer__link(href="") Careers
          a.footer__link(href="") Press
